<div class="panel panel-default noprint">
    
        <div class="panel-heading">
            <strong>Centreon Status</strong>
        </div>
    
    
        <div class="panel-body text-muted">
            {%if c.imported%}<span class="label label-success">Imported</span>{%else%}<span class="label label-danger">Not imported</span>{%endif%}<br>
            {%if c.state%}<span class="label label-success">Activated</span>{%else%}<span class="label label-danger">Disabled</span>{%endif%}<br>
        </div>
    
</div>